.card {
  background-color: #1d9bf0;
  text-transform: uppercase;
  color: white;
  font-weight: bold;

  &:hover {
    background-color: #3761a8;
  }

  & a {
    text-decoration: none;
    color: white;
  }
}
